<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827531197613-2uc6hijpfbkdj7j8pg8aha9eufesvdpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827531197613-2uc6hijpfbkdj7j8pg8aha9eufesvdpd</string>
	<key>API_KEY</key>
	<string>AIzaSyBu1F5JDINMbw5ZPBP4sMdtsuxgM8VYEA4</string>
	<key>GCM_SENDER_ID</key>
	<string>827531197613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hyebin.Firebase</string>
	<key>PROJECT_ID</key>
	<string>hyebin-df2f0</string>
	<key>STORAGE_BUCKET</key>
	<string>hyebin-df2f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827531197613:ios:84a81bc3e2988bab1fda24</string>
</dict>
</plist>